@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root{
    --colortitulo:black
    --color-texto: #FFFFFF
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    background-color: black;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    color: white;
}
a{
    text-decoration: none;
}
nav a{
    color: var(--colortexto);

}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin:0;
}
.nav-list li {
    margin-right: 16px;
}
.nav-list li:last-child {
    margin-right: 0;
}

.titulos{
    text-align: center;
    padding: 20px 0px;
}

.section1{
    background-color: beige;
}

.section2{
    background-color: black;
    color:white;
}

.estrenoss-fila{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.estreno-item {
    margin-bottom: 1rem;
}
.img-style {
    margin: 10px;
    width: 30%;
    height: auto;
}
.negri{
    font-weight: bold;
    font-size: 25px;
    text-decoration:none;
}
#contacto {
    padding: 50px 0;
    background-color: var(--colortexto);
    text-align: center;
    background-color: beige ;
}

.contacto-container {
    max-width: 600px;
    margin: 0 auto;
}

.contacto-container h2 {
    margin-bottom: 20px;
    color: var(--colortitulo);
}

.contacto-container p {
    margin-bottom: 30px;
    color: var(--colortitulo);
}

.contacto-container form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.contacto-container input,
.contacto-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--colortitulo);
    border-radius: 5px;
}

.contacto-container button {
    padding: 10px 20px;
    background-color: var(--colortexto);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.contacto-container button:hover {
    background-color: black; 
}
footer {
    background-color: black;
    color: white;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#nose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
button a{
    color: white;
    font-size: larger;
}
button{
    background-color: red;
    border: 6px solid red;
    border-radius: 20px;
}
form >::placeholder{
    color: black;
}

